html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.primary_button {
  @include primary-button;
  &:hover {
    @include primary-button-hover;
  }
}

.secondary_button {
  @include secondary-button;
  &:hover {
    @include secondary-button-hover;
  }
}

.primary_button_disabled {
  @include primary-button-disabled;
}

.hidden_button {
  border: none;
  background: none;
}

.flickity-button {
  display: none;
}
.flickity-page-dots {
  display: none;
}

.logoutmenubutton {
  position: absolute;
  width: 158px !important;
  height: 48px !important;
  left: 62px;
  top: 273px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
