html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.primary_button {
  @include primary-button;
  &:hover {
    @include primary-button-hover;
  }
}

.secondary_button {
  @include secondary-button;
  &:hover {
    @include secondary-button-hover;
  }
}

.hidden_button {
  border: none;
  background: none;
}

.flickity-button {
  display: none;
}
.flickity-page-dots {
  display: none;
}
