.maincity {
  width: 375px;
  height: 1890px;
  background: #f4f2eb;
}
.mainimage {
  width: 375px;
  height: 333.82px;
  left: -19px;
  top: -29.82px;
}
.maintitle1 {
  position: absolute;
  left: 6.4%;
  right: 46.67%;
  top: 50%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #4d4d4d;
}
.maindescription {
  position: absolute;
  width: 324px;
  height: 170px;
  left: 24px;
  top: 374px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #4d4d4d;
}
.mainbutton {
  position: absolute;
  width: 158px;
  height: 48px;
  left: 109px;
  top: 592px;
}
.containercity {
  position: absolute;
  width: 325px;
  height: 72px;
  left: 24px;
  top: 660px;
  background: #fbfbf8;
  border-radius: 19px;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.12);
}
.containercity2 {
  position: absolute;
  width: 325px;
  height: 72px;
  left: 24px;
  top: 740px;

  background: #fbfbf8;
  border-radius: 19px;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.12);
}
.containercity3 {
  position: absolute;
  width: 325px;
  height: 72px;
  left: 24px;
  top: 820px;
  background: #fbfbf8;
  border-radius: 19px;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.12);
}
.containercity4 {
  position: absolute;
  width: 325px;
  height: 72px;
  left: 24px;
  top: 900px;
  background: #fbfbf8;
  border-radius: 19px;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.12);
}
.containercity5 {
  position: absolute;
  width: 325px;
  height: 72px;
  left: 24px;
  top: 980px;
  background: #fbfbf8;
  border-radius: 19px;
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.12);
}

.fakeheader {
  position: absolute;
  width: 375px;
  height: 63px;
  left: 0px;
  top: 1073px;
}
.citiyreviewavatar {
  width: 72px;
  height: 72px;
}
.city_reviews_text {
  position: absolute;
  left: 6.4%;
  right: 46.67%;
  top: 1130px;
  bottom: 36.96%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #4d4d4d;
}
.review1 {
  position: absolute;
  width: 324px;
  height: 222px;
  left: 24px;
  top: 1214px;
}
.review2 {
  position: absolute;
  width: 324px;
  height: 222px;
  left: 24px;
  top: 1470px;
}

.scrollButton {
  font-size: 52px;
  color: #fe8248;
  z-index: 1;
}
.fakeArrow {
  position: absolute;
  left: 42%;
  right: 4.17%;
  top: 1756px;
  bottom: 4.17%;
}
.constofliving {
  position: absolute;
  width: 92.16px;
  height: 22px;
  left: 70px;
  top: 23px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  z-index: 1;
}
.sunnydays {
  position: absolute;
  width: 155px;
  height: 22px;
  left: 70px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
}
.coworking {
  position: absolute;
  width: 194px;
  height: 22px;
  left: 70px;
  top: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
}
.safety {
  position: absolute;
  width: 128.54px;
  height: 22px;
  left: 70px;
  top: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  color: #4d4d4d;
}

.connection {
  position: absolute;
  width: 228.54px;
  height: 22px;
  left: 70px;
  top: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
}
