.footer {
    height: 20px;
    width: 296px;
    left: 40px;
    top: 1654px;
    font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

//styleName: Caption/Regular 12px 20HL Raleway;
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}


