.info-step4 {
  height: 100%;
}
.info4image {
  position: absolute;
  width: 441.97px;
  height: 670.78px;
  left: -259.6px;
  top: 453.93px;
}
.info4mountain {
  position: absolute;
  left: 14.93%;
  width: 282px;
  right: 9.87%;
  top: 5.54%;
  bottom: 50.67%;
}
.infotitle {
  position: absolute;
  left: 18.67%;
  right: 18.67%;
  top: 43.46%;
  bottom: 33.9%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fbfbf8;
}
.infotext {
  position: absolute;
  width: 301px;
  height: 62px;
  left: 37px;
  top: 425.61px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: #fbfbf8;
}
.info4button {
  position: absolute;
  width: 158px;
  height: 48px;
  top: 550px;
  left: 110px;
}
.infotext4 {
  position: absolute;
  width: 91px;
  height: 22px;
  left: 142px;
  top: 614px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #ff9679;
}
.loginarrow {
  position: absolute;
  top: 30px;
}
