// Utils imports
@import './utils/variables';
@import './utils/mixins';

// Views imports
@import './views/App';
@import './views/Index';

// Components imports
@import './components/error';
@import './components/modal';
@import './components/city';
@import './components/footer';
@import './components/header';
@import './components/home';
@import './components/login';
@import './components/main';
@import './components/nav';
@import './components/prechat';
@import './components/review';
@import './components/register';
@import './components/registersteps2';
@import './components/registersteps3';
@import './components/toggleswitch';
@import './components/explore1';
@import './components/profile';
@import './components/infosteps4.scss';
@import './components/results.scss';
@import './components/infosteps2.scss';
@import './components/infostep3.scss';
