// Utils imports
@import './utils/variables';
@import './utils/mixins';

// Views imports
@import './views/App';
@import './views/Index';

// Components imports
@import './components/error';
@import './components/footer';
@import './components/header';
@import './components/home';
@import './components/login';
@import './components/main';
@import './components/nav';
@import './components/register';
@import './components/toggleswitch';
@import './components/explore1';